{% extends "base.html" %}
{% block content %}
<main class="main--aboutme">
    <h1>About Me</h1>
    <article class="main--aboutme__article">

        <p>
            Hi, I'm Nikhil, a Jack of All Trades with a passion for mastering a wide range of interests like coding,
            cricket, football, photography, writing, reading, and making music. I love learning new things and make it a
            point to practice and preserve what I've learned so far. Consistency and discipline are my daily goals, as I
            focus on improving myself without overthinking the reasons why. Inspired by Steve Jobs' belief that you can
            only connect the dots looking backward, I strive to stay earnest in whatever is in front of me right now,
            trusting that the bigger picture will come into focus with time.
        </p>

    </article>
</main>
{% endblock %}