{% extends "base.html" %}
{% block content %}
<section class="main project__heading--main">
    <h2 class="project__heading">{{ project['name'] }}</h2>
</section>
<section class="main main--germany-photography main--photography--quote">
    <article>
            "Alles hat ein Ende, nur die Wurst hat zwei!"
    </article>
</section>
<section class="main main--germany-photography main--photography--content">
    <article>
            Germany's history is an intriguing mix of medieval marvels, royal legacy, and cutting-edge urban vibes. This
            photography
            collection is a vibrant visual journey through time—from the stately palaces of Bavaria to Berlin’s dynamic
            skyline.
            With each snapshot, the past and future collide, celebrating Germany’s evolution from its storied history to
            its
            contemporary brilliance. As you explore this gallery, you’ll uncover not just the country’s rich heritage,
            but also the everyday magic of its bustling cities and peaceful villages.
    </article>
</section>
<section class="main main--germany-photography">

    <div class="img__gallery img__gallery__large">
        <a href="{{ url_for('static', filename='/img/germany_photography/ber3.jpg') }}"
            data-lightbox="germany_photography" data-title="People of Berlin."><img
                src="{{ url_for('static', filename='/img/germany_photography/ber3.jpg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__horizontal">
        <a href="{{ url_for('static', filename='/img/germany_photography/ger1.jpg') }}"
            data-lightbox="germany_photography" data-title="Blau Topf | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/ger1.jpg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/ger2.jpg') }}"
            data-lightbox="germany_photography" data-title="Red Boots in the forest"><img
                src="{{ url_for('static', filename='/img/germany_photography/ger2.jpg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__large">
        <a href="{{ url_for('static', filename='/img/germany_photography/german_summers_by_river.jpg') }}"
            data-lightbox="germany_photography" data-title="East Side River - Berlin | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/german_summers_by_river.jpg') }}"
                alt=""></a>
    </div>
    <div class="img__gallery img__gallery__large">
        <a href="{{ url_for('static', filename='/img/germany_photography/burgerpark_sunset.jpeg') }}"
            data-lightbox="germany_photography" data-title="Bürgerpark Sunsets - Darmstadt | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/burgerpark_sunset.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/ber2.jpg') }}"
            data-lightbox="germany_photography" data-title="East Side Galler - Berlin | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/ber2.jpg') }}" alt=""></a>
    </div>

    <!-- Second Addition -->
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/zizos_darmstadt.jpeg') }}"
            data-lightbox="germany_photography" data-title="Zizo's Evening - Darmstadt | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/zizos_darmstadt.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/waterfalls_tubingen.jpeg') }}"
            data-lightbox="germany_photography" data-title="Waterfalls - Tübingen | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/waterfalls_tubingen.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/rosdorfer_platz.jpeg') }}"
            data-lightbox="germany_photography" data-title="Rosdörfer Platz - Darmstadt | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/rosdorfer_platz.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/winter_top_angel.jpeg') }}"
            data-lightbox="germany_photography" data-title="Snowy Mornings - Darmstadt | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/winter_top_angel.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__large">
        <a href="{{ url_for('static', filename='/img/germany_photography/ber1.jpg') }}"
            data-lightbox="germany_photography" data-title="East Side Gallery - Berlin | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/ber1.jpg') }}" alt="">Image #1</a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/smooch_of_the_century.jpeg') }}"
            data-lightbox="germany_photography" data-title="Kiss of the Century - Berlin | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/smooch_of_the_century.jpeg') }}"
                alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/fusion_tattoo.jpeg') }}"
            data-lightbox="germany_photography" data-title="Fusion Festival 2023 - Berlin | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/fusion_tattoo.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/frozen_lake.jpeg') }}"
            data-lightbox="germany_photography" data-title="Frozen Lake - Darmstadt | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/frozen_lake.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/felsenmehr.jpeg') }}"
            data-lightbox="germany_photography" data-title="Rolling Stones - Felsenmehr | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/felsenmehr.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/darmstadt_luissen_top.jpeg') }}"
            data-lightbox="germany_photography" data-title="Luissenplatz - Darmstadt | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/darmstadt_luissen_top.jpeg') }}"
                alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/christmas_market.jpeg') }}"
            data-lightbox="germany_photography" data-title="Christmas Market - Darmstadt | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/christmas_market.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/fusion_forest_light.jpeg') }}"
            data-lightbox="germany_photography" data-title="Fusion 2023 - Berlin | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/fusion_forest_light.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/berlin_church_bw.jpeg') }}"
            data-lightbox="germany_photography"
            data-title="Church detroyed during World War II - Berlin | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/berlin_church_bw.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/aurora_tubingen.jpeg') }}"
            data-lightbox="germany_photography" data-title="Aurora Skies - Tübingen | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/aurora_tubingen.jpeg') }}" alt=""></a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/germany_photography/arheilgen_tram.jpeg') }}"
            data-lightbox="germany_photography" data-title="Next Stop Arheilgen - Darmstadt | Deutschland"><img
                src="{{ url_for('static', filename='/img/germany_photography/arheilgen_tram.jpeg') }}" alt=""></a>
    </div>


</section>
{% endblock %}