{% extends "base.html" %}
{% block content %}
<section class="main project__heading--main">
    <h2 class="project__heading">{{ project['name'] }}</h2>
</section>
<section class="main main--india-photography main--photography--quote">
    <article>
        "hOMe - Where it all began!"
    </article>
</section>
<section class="main main--india-photography main--photography--content">
    <article>
            The project dives into the vibrant essence of India through a captivating photographic journey. 
            This collection showcases the country's rich cultural heritage, breathtaking landscapes, and the colorful tapestry of everyday life. 
            Each image tells a story, reflecting India's diversity and spirit, from bustling cities to serene rural vistas. 
            Join me in exploring the beauty and complexity of this incredible nation, where tradition meets modernity.
    </article>
</section>
<section class="main main--india-photography">
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/india_photography/nandi_temple1.jpeg') }}"
            data-lightbox="india_photography"
            data-title="BhogaNandeeshwara Temple - Chikkaballapura | Karnataka | India">
            <img src="{{ url_for('static', filename='/img/india_photography/nandi_temple1.jpeg') }}" alt="">
        </a>
    </div>
    <div class="img__gallery img__gallery__horizontal">
        <a href="{{ url_for('static', filename='/img/india_photography/krishna_kshetram.jpeg') }}"
            data-lightbox="india_photography" data-title="Sri Krishna Kshetram - Kannur | India">
            <img src="{{ url_for('static', filename='/img/india_photography/krishna_kshetram.jpeg') }}" alt="">
        </a>
    </div>
    <div class="img__gallery img__gallery__large">
        <a href="{{ url_for('static', filename='/img/india_photography/pondi_crow.jpg') }}"
            data-lightbox="india_photography" data-title="Fishing boat - Pondicherry | Tamil Nadu | India">
            <img src="{{ url_for('static', filename='/img/india_photography/pondi_crow.jpg') }}" alt="">
        </a>
    </div>
    <div class="img__gallery img__gallery__large">
        <a href="{{ url_for('static', filename='/img/india_photography/mary_temple.jpeg') }}"
            data-lightbox="india_photography" data-title="Ease of belief - Bengaluru | India">
            <img src="{{ url_for('static', filename='/img/india_photography/mary_temple.jpeg') }}" alt="">
        </a>
    </div>
    <div class="img__gallery img__gallery__horizontal">
        <a href="{{ url_for('static', filename='/img/india_photography/nandi_temple2.jpg') }}"
            data-lightbox="india_photography"
            data-title="BhogaNandeeshwara Temple - Chikkaballapura | Karnataka | India">
            <img src="{{ url_for('static', filename='/img/india_photography/nandi_temple2.jpg') }}" alt="">
        </a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/india_photography/sunset_point_kannur.jpeg') }}"
            data-lightbox="india_photography" data-title="Sunset Point - Kannur | Kerala | India">
            <img src="{{ url_for('static', filename='/img/india_photography/sunset_point_kannur.jpeg') }}" alt="">
        </a>
    </div>
    <!-- Second addition -->
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/india_photography/terrace_cloudy_sky.jpeg') }}"
            data-lightbox="india_photography"
            data-title="Storm is Approaching - Bengaluru | Karnataka | India">
            <img src="{{ url_for('static', filename='/img/india_photography/terrace_cloudy_sky.jpeg') }}" alt="">
        </a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/india_photography/kannur_lighthouse.jpeg') }}"
            data-lightbox="india_photography"
            data-title="Inside a lighthouse - Kannur | India">
            <img src="{{ url_for('static', filename='/img/india_photography/kannur_lighthouse.jpeg') }}" alt="">
        </a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/india_photography/goldfish_blackfish.jpeg') }}"
            data-lightbox="india_photography"
            data-title="Five Seconds of memory - Bengaluru | Karnataka | India">
            <img src="{{ url_for('static', filename='/img/india_photography/goldfish_blackfish.jpeg') }}" alt="">
        </a>
    </div>
    <div class="img__gallery img__gallery__vertical">
        <a href="{{ url_for('static', filename='/img/india_photography/chameleon.jpeg') }}"
            data-lightbox="india_photography"
            data-title="Urban Reptiles - Bengaluru | Karnataka | India">
            <img src="{{ url_for('static', filename='/img/india_photography/chameleon.jpeg') }}" alt="">
        </a>
    </div>
</section>

{% endblock %}